extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}

  .row
    .col-12.col-md-8
      .error= message

      .card
        .card-block

          h4 #{lesson.title}
          p #{lesson.translation}

      .card
        .card-block

          h4 Image
          img(src=`${lesson.imageURL.cloudinary}` style='width:414px; height:150px;')

      .card
        .card-block
          h4
            a(href=`/dialogues/${lesson.dialogue}`) Dialogue
            span.badge.badge-pill.badge-default.float-right Edit

    .col-12.col-md-4
      a.nav-link(href=`/lessons/${lesson._id}/edit`) Edit Lesson
