extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}

  .row
    .col-12.col-md-8
      .error= message

      each lesson in lessons
        .card
          .card-block
            h4

              if lesson.dialogue[0]
                //a(href=`/dialogues/${lesson.dialogue[0]}`)= lesson.title
                a(href=`/lessons/${lesson._id}`)= lesson.title
              else
                a(href=`/lessons/${lesson._id}/dialogue`)= lesson.title

            p.translation= lesson.translation

    .col-12.col-md-4
      a.nav-link(href='/lessons/new') Create new Lesson
